In [2]:
import pandas as pd

In [3]:
train = pd.read_csv('C:\\Users\\ravs\\Development\\ML\\IIM\\L8\\train_E6oV3lV.csv')

Number of Words

In [4]:
# find the number of words in each tweet

train['word_count'] = train['tweet'].apply(lambda x: len(str(x).split(" ")))
train[['tweet','word_count']]

                                                   tweet  word_count
0      when a father is dysfunctional and is so selfi...          19
1      @user @user thanks for #lyft credit i can't us...          22
2                                    bihday your majesty           5
3      #model   i love u take with u all the time in ...          17
4                 factsguide: society now    #motivation           8
...                                                  ...         ...
31957  ate @user isz that youuu?ðððððð...           6
31958    to see nina turner on the airwaves trying to...          25
31959  listening to sad songs on a monday morning otw...          15
31960  @user #sikh #temple vandalised in in #calgary,...          13
31961                   thank you @user for you follow             8

[31962 rows x 2 columns]

Number of characters

In [5]:
train['char_count'] = train['tweet'].str.len() ## this also includes spaces
train[['tweet','char_count']].head()

                                               tweet  char_count
0  when a father is dysfunctional and is so selfi...          95
1  @user @user thanks for #lyft credit i can't us...         122
2                                bihday your majesty          21
3  #model   i love u take with u all the time in ...          86
4             factsguide: society now    #motivation          39

Average Word Length

In [6]:
sent = "Hello How Are You"
wor = sent.split()
len(wor)

4

In [7]:
def avg_word(sentence):
  words = sentence.split()
  return (sum(len(word) for word in words)/len(words))

In [8]:
# Determine average word length

train['avg_word'] = train['tweet'].apply(lambda x: avg_word(x))
train[['tweet','avg_word']].head()

                                               tweet  avg_word
0  when a father is dysfunctional and is so selfi...  4.529412
1  @user @user thanks for #lyft credit i can't us...  5.315789
2                                bihday your majesty  5.666667
3  #model   i love u take with u all the time in ...  4.928571
4             factsguide: society now    #motivation  8.000000

Number of stopwords

In [9]:
from nltk.corpus import stopwords
stop = stopwords.words('english')

train['stopwords'] = train['tweet'].apply(lambda x: len([x for x in x.split() if x in stop]))
train[['tweet','stopwords']].head()

                                               tweet  stopwords
0  when a father is dysfunctional and is so selfi...         10
1  @user @user thanks for #lyft credit i can't us...          5
2                                bihday your majesty          1
3  #model   i love u take with u all the time in ...          5
4             factsguide: society now    #motivation          1

Number of special characters

In [10]:
train['hastags'] = train['tweet'].apply(lambda x: len([x for x in x.split() if x.startswith('#')]))
train[['tweet','hastags']].head()

                                               tweet  hastags
0  when a father is dysfunctional and is so selfi...        1
1  @user @user thanks for #lyft credit i can't us...        3
2                                bihday your majesty        0
3  #model   i love u take with u all the time in ...        1
4             factsguide: society now    #motivation        1

Number of numerics

In [11]:
train['numerics'] = train['tweet'].apply(lambda x: len([x for x in x.split() if x.isdigit()]))
train[['tweet','numerics']].head()

                                               tweet  numerics
0  when a father is dysfunctional and is so selfi...         0
1  @user @user thanks for #lyft credit i can't us...         0
2                                bihday your majesty         0
3  #model   i love u take with u all the time in ...         0
4             factsguide: society now    #motivation         0

Number of Uppercase words

In [12]:
train['upper'] = train['tweet'].apply(lambda x: len([x for x in x.split() if x.isupper()]))
train[['tweet','upper']].head()

                                               tweet  upper
0  when a father is dysfunctional and is so selfi...      0
1  @user @user thanks for #lyft credit i can't us...      0
2                                bihday your majesty      0
3  #model   i love u take with u all the time in ...      0
4             factsguide: society now    #motivation      0

Lower case

In [13]:
train['lower'] = train['tweet'].apply(lambda x: len([x for x in x.split() if x.islower()]))
train[['tweet','lower']].head()

                                               tweet  lower
0  when a father is dysfunctional and is so selfi...     17
1  @user @user thanks for #lyft credit i can't us...     19
2                                bihday your majesty      3
3  #model   i love u take with u all the time in ...     14
4             factsguide: society now    #motivation      4

In [16]:
train['tweet'] = train['tweet'].apply(lambda x: " ".join(x.lower() for x in x.split()))
train['tweet'].head()

0    when a father is dysfunctional and is so selfi...
1    @user @user thanks for #lyft credit i can't us...
2                                  bihday your majesty
3    #model i love u take with u all the time in ur...
4                  factsguide: society now #motivation
Name: tweet, dtype: object

Removing Punctuation

In [14]:
train['tweet'] = train['tweet'].str.replace('[^\w\s]','')
train['tweet'].head()

0    when a father is dysfunctional and is so selfi...
1    user user thanks for lyft credit i cant use ca...
2                                  bihday your majesty
3    model   i love u take with u all the time in u...
4                 factsguide society now    motivation
Name: tweet, dtype: object

Removal of Stop Words

In [15]:
from nltk.corpus import stopwords
stop = stopwords.words('english')

train['tweet'] = train['tweet'].apply(lambda x: " ".join(x for x in x.split() if x not in stop))
train['tweet'].head()

0    father dysfunctional selfish drags kids dysfun...
1    user user thanks lyft credit cant use cause do...
2                                       bihday majesty
3                model love u take u time urð ðððð ððð
4                        factsguide society motivation
Name: tweet, dtype: object

Common word removal

In [16]:
freq = pd.Series(' '.join(train['tweet']).split()).value_counts()[:10]
freq

user     17472
love      2647
ð         2511
day       2199
â         1775
happy     1663
amp       1582
im        1139
u         1136
time      1110
dtype: int64

In [17]:
freq = list(freq.index)

train['tweet'] = train['tweet'].apply(lambda x: " ".join(x for x in x.split() if x not in freq))
train['tweet'].head()

0    father dysfunctional selfish drags kids dysfun...
1    thanks lyft credit cant use cause dont offer w...
2                                       bihday majesty
3                              model take urð ðððð ððð
4                        factsguide society motivation
Name: tweet, dtype: object

Rare words removal

In [18]:
freq = pd.Series(' '.join(train['tweet']).split()).value_counts()[-10:]
freq

nmeu               1
loveyourjob        1
cantkeepwaiting    1
meetuser           1
16h                1
spelled            1
aaptards           1
12840              1
spidermonkey       1
graysondolan       1
dtype: int64

In [22]:
freq = list(freq.index)
train['tweet'] = train['tweet'].apply(lambda x: " ".join(x for x in x.split() if x not in freq))
train['tweet'].head()

0    father dysfunctional selfish drags kids dysfun...
1    thanks lyft credit cant use cause dont offer w...
2                                       bihday majesty
3                              model take urð ðððð ððð
4                        factsguide society motivation
Name: tweet, dtype: object

Spelling correction

In [29]:
#TextBlob is a python library and offers a simple API to access its methods and perform basic NLP tasks. 
from textblob import TextBlob
train['tweet'][:10].apply(lambda x: str(TextBlob(x).correct()))

0    father dysfunctional selfish drags kiss dysfun...
1    thanks left credit can use cause dont offer wh...
2                                       midday majesty
3                               model take or ðððð ððð
4                        factsguide society motivation
5    22 huge fan fare big talking leave chaos pay d...
6                               camping tomorrow dandy
7    next school year year exam can think school ex...
8    land allen caps champions cleveland clevelandc...
9                                          welcome grm
Name: tweet, dtype: object

 Tokenization

In [30]:
WordList=TextBlob(train['tweet'][1]).words
WordList

WordList(['thanks', 'lyft', 'credit', 'cant', 'use', 'cause', 'dont', 'offer', 'wheelchair', 'vans', 'pdx', 'disapointed', 'getthanked'])

Stemming

In [33]:
pd.set_option('display.max_colwidth', -1)
from nltk.stem import PorterStemmer
st = PorterStemmer()
train['tweet'][:5].apply(lambda x: " ".join([st.stem(word) for word in x.split()]))

0    father dysfunct selfish drag kid dysfunct run
1    thank lyft credit cant use caus dont offer wheelchair van pdx disapoint getthank
2    bihday majesti
3    model take urð ðððð ððð
4    factsguid societi motiv
Name: tweet, dtype: object

Lemmatization

In [34]:
from textblob import Word
train['tweet'] = train['tweet'].apply(lambda x: " ".join([Word(word).lemmatize() for word in x.split()]))
train['tweet'].head()

0    father dysfunctional selfish drag kid dysfunction run
1    thanks lyft credit cant use cause dont offer wheelchair van pdx disapointed getthanked
2    bihday majesty
3    model take urð ðððð ððð
4    factsguide society motivation
Name: tweet, dtype: object

Bigram

In [35]:
WordList = TextBlob(train['tweet'][0]).ngrams(3)
WordList

[WordList(['father', 'dysfunctional', 'selfish']),
 WordList(['dysfunctional', 'selfish', 'drag']),
 WordList(['selfish', 'drag', 'kid']),
 WordList(['drag', 'kid', 'dysfunction']),
 WordList(['kid', 'dysfunction', 'run'])]

Term frequency

In [36]:
tf1 = (train['tweet'][1:2]).apply(lambda x: pd.value_counts(x.split(" "))).sum(axis = 0).reset_index()
tf1.columns = ['words','tf']
tf1

          words  tf
0   use          1
1   credit       1
2   getthanked   1
3   cause        1
4   cant         1
5   lyft         1
6   pdx          1
7   offer        1
8   thanks       1
9   van          1
10  disapointed  1
11  wheelchair   1
12  dont         1

Inverse Document Frequency

In [37]:
#IDF = log(N/n), where, N is the total number of rows and n is the number of rows in which the word was present
import numpy as np
for i,word in enumerate(tf1['words']):
  tf1.loc[i, 'idf'] = np.log(train.shape[0]/(len(train[train['tweet'].str.contains(word)])))

tf1

          words  tf        idf
0   use          1   3.552287
1   credit       1   7.327781
2   getthanked   1   9.679156
3   cause        1   5.690172
4   cant         1   3.538194
5   lyft         1   8.762865
6   pdx          1   8.762865
7   offer        1   6.522155
8   thanks       1   4.597751
9   van          1   5.236505
10  disapointed  1   10.372303
11  wheelchair   1   9.273691
12  dont         1   3.745585

Term Frequency – Inverse Document Frequency (TF-IDF)

In [38]:
tf1['tfidf'] = tf1['tf'] * tf1['idf']
tf1

          words  tf        idf      tfidf
0   use          1   3.552287   3.552287
1   credit       1   7.327781   7.327781
2   getthanked   1   9.679156   9.679156
3   cause        1   5.690172   5.690172
4   cant         1   3.538194   3.538194
5   lyft         1   8.762865   8.762865
6   pdx          1   8.762865   8.762865
7   offer        1   6.522155   6.522155
8   thanks       1   4.597751   4.597751
9   van          1   5.236505   5.236505
10  disapointed  1   10.372303  10.372303
11  wheelchair   1   9.273691   9.273691
12  dont         1   3.745585   3.745585

Sentiment Analysis

In [39]:
train['sentiment'] = train['tweet'].apply(lambda x: TextBlob(x).sentiment[0] )
train[['tweet','sentiment']].head()

,tweet,sentiment
0,father dysfunctional selfish drag kid dysfunction run,-0.3
1,thanks lyft credit cant use cause dont offer wheelchair van pdx disapointed getthanked,0.2
2,bihday majesty,0.0
3,model take urð ðððð ððð,0.0
4,factsguide society motivation,0.0

Word Embeddings